<h2>Request Feature Coming Soon.</h2>
<!--<h3>All Requests</h3>-->
<!--< @requests.each do |request| %>-->
<!--<div class="request_info">-->
  <!--<h2><a href="/requests/<= request.id %>"><= request.title %></a></h2>-->
  <!--<p><= request.description %></p>-->
  <!--<h3>Tags</h3>-->
  <!--<p><= request.tags %></p>-->
<!--</div>-->
<!--< end %>-->
