<h2>Request Supplies</h2>
<% if logged_in? %>
  <form action="/supplies" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title"><br>

    <label for="description">Description:</label>
    <input type="text" name="description" id="description"><br>

    <label for="tags">Tags:</label>
    <input type="text" name="tags" id="tags"><br>

    <input type="submit">
  </form>

<% elsif !logged_in? %>
  <p>Please <a href="/login">log in</a> to create a new request.<p>
<% end %>
