<h2>Sign Up</h2>

<%= "You must complete all fields to create an account." if @user && @user.errors.any? %>

<form action="/users" method="POST">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" id="first_name" /><br>

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" id="last_name" /><br>

  <label for="user_image">Profile Image URL:</label>
  <input type="text" name="user_image" id="user_image" /><br>

  <label for="email">Email:</label>
  <input type="text" name="email" id="email" /><br>

  <label for="username">Username:</label>
  <input type="text" name="username" id="username" /><br>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password" /><br>

  <input type="submit" />
</form>
