<h3>New Craft Form</h3>

<form action="/creations" method="POST">
  <label>Title: </label><input type="text" id="title"><br>
  <label>Description: </label><input type="text" id="description"><br>
  <label>Directions: </label><input type="text" id="directions"><br>
  <label>Tags:</label><input type="text" id="tags"><br>
  <label>Craft Image URL:</label><input type="text" id="image_url"><br><br>
  <input type="submit" value="Share Creation">

</form>
