<!--Featured Make Link-->
<div class="navigation">
  <p>Creating beautiful things by connecting local artists & makers to non-recyclable waste material</p>
  <!--Make Button-->
  <a href="/make/index">Make</a>
  <!--Give Button-->
  <a href= "/give/new_donation">Give</a>
  <!--Marketplace Button-->
  <a href="/marketplace">Market Place</a>
</div>

<div class="about">
  <h2>About our program</h2>
  <p>Become a maker or a giver by being a part of our initiative. Our goal is to preserve the environment by building a community that reuses waste material and fosters creativity.</p>
  <h3>How do I give?</h3>
  <p>If you have non-recyclable waste material and don't know what too do with it, then give it away. Post your item on Trashare and interested people will get in touch with you, pick it up and build something amazing with it.</p>
  <h3>How do I make?</h3>
  <p>Explore creations by artists and other makers and use what waste material you have to get started.</p>
</div>
