<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Connecting local creatives to non-recylcable waste material.">
    <meta name="keywords" content="Trashare, waste management, recycling, reuse, art, trash, treasure">
    <meta name="author" content="Amanda Murphy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <title>Trashare - Creating with Non-Recylable Waste - About</title>
  </head>

  <body>
    <header>
      <h1><a href="/">Trashare</a></h1>

        <nav>
          <% if !logged_in? %>
            <a href= "/login">Log In</a>
            <a href= "/signup">Sign Up</a>
          <% else %>
            <a href= "/donations/new">Give</a>
            <a href= "/creations">Make</a>
            <a href= "/request/new">Request</a>
            <a href= "/marketplace">Marketplace</a>
            <a href= "/logout">Logout</a>
          <% end %>
        </nav>
      </header>

      <%= yield %>

      <footer>
        &copy; 2019 Trashare. All Rights Reserved.
      </footer>
  </body>
</html>
