<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Connecting local creatives to non-recylcable waste material.">
    <meta name="keywords" content="Trashare, waste management, recycling, reuse, art, trash, treasure">
    <meta name="author" content="Amanda Murphy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <title>Trashare - Creating with Non-Recylable Waste - About</title>
  </head>

  <body>
    <header>
      <h1> Trashare </h1>

        <nav>
          <a href= "sessions/login.html">Log In</a>
          <a href= "users/new.html">Sign Up</a>
        </nav>
      </header>

      <%= yield %>

      <footer>
        &copy; 2019 Trashare. All Rights Reserved.
      </footer>
  </body>
</html>
