<div class="intro">
  <h2>Welcome to the Trashare Marketplace.</h2>
  <p>Check ot what people are giving away and keep an eye out for items local artists need.</p>
  <!--Add Image here-->
  <!--Add link here-->
  <p>What artists need.</p>
</div>

<div class="featured_artist">
  <!--Add most recent artist request here-->
  <h2>Artist Name</h2>
  <p>Hi! I could really use your help collecting the the following materials for my next project. It's goonna be epic!</p>
  <!--Add show page link here-->
</div>

<div class="marketplace">
  <!--Add three most recent market posts here-->
  <h2>What's on the Market</h2>
  <div class="featured_1">
  <!--Image 1-->
  <h3>Market_Item Title</h3>
  <p>Market_Item Description</p>
  <!--Show Button-->
  <p class="detail">Posted by User.first_name ___ ago</p>
  <!--Map-->
  <!--Market_info User photo-->
  <!--Contact Button-->
  </div>

  <div class="featured_2">
  <!--Image 2-->
  <h3>Market_Item Title</h3>
  <p>Market_Item Description</p>
  <!--Show Button-->
  <p class="detail">Posted by User.first_name ___ ago</p>
  <!--Map-->
  <!--Market_info User photo-->
  <!--Contact Button-->
  </div>

  <div class="featured_3">
  <!--Image 1-->
  <h3>Market_Item Title</h3>
  <p>Market_Item Description</p>
  <!--Show Button-->
  <p class="detail">Posted by User.first_name ___ ago</p>
  <!--Map-->
  <!--Market_info User photo-->
  <!--Contact Button-->
  </div>
</div>
